/* MAIN SECTION */
.building-section {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;  /* safety model pole */
   padding: 90px 120px;
   background: #f7faff;
   gap: 120px;   /* safety gap → same feel */
   flex-wrap: wrap;
}

/* LEFT IMAGE */
.building-left {
   flex: 1;
   max-width: 550px;
}

.building_image {
   width: 100%;
   max-width: 500px;
   border-radius: 30px;
   object-fit: cover;
   background: rgb(122, 119, 119);
   padding: 5px;
   box-shadow: 0 5px 5px rgba(0,0,0,0.12);
}

/* RIGHT CONTENT */
.building-right {
  flex: 1;
  max-width: 550px;
  margin-left: 0; /* 🔥 removed negative margin */
}

.building-title {
  font-size: 44px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  font-family: "MyRoboto";
}

/* Clean Paragraph – same as safety */
.building-description {
   font-size: 18px;
  line-height: 1.9;
  color: #3a3a3a;
  max-width: 900px;
  margin: 0 0 28px;
  font-family: "Georgia", serif;
  text-align: justify;
  word-spacing: 1px;
  letter-spacing: 0.3px;
}

/* TABLET */
@media (max-width: 992px) {
  .building-section {
    padding: 60px 40px;
    gap: 40px;
  }

  .building-title {
    font-size: 32px;
    text-align: center;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .building-section {
   flex-direction: column;
    padding: 40px 25px;
    gap: 20px;
    text-align: center;
  }

  .building-right {
  order: 1;
    max-width: 100%;
    text-align: center;
    margin-left: 0 !important;
  }

  .building-title {
   font-size: 18px;
    font-family: "Playfair Display", serif;
  }

  .building-left {
   order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .building_image {
    max-width: 100%;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
    .building-section {
    padding: 30px 20px;
  }

  .building-title {
    font-size: 18px;
  }
  .building-description {
    font-size: 12px;
  }
}
