/* =========================
   MAIN SECTION
========================= */
.equipment-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 120px;
  background: #f7faff;
  gap: 80px;
  flex-wrap: wrap;
}

/* LEFT IMAGE */
.equipment-left {
  flex: 1;
  max-width: 550px;
}

.equipment_image {
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  object-fit: cover;
  background: linear-gradient(
    145deg,
    #b3cfeb,
    #c1c1c1,
    #d5cdcb,
    rgb(156, 119, 102)
  );
  padding: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12);
}

.equipment-right {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* TITLE */
.equipment-title {
  font-size: 44px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
  font-family: "MyRoboto";
}

/* PARAGRAPH */
.equipment-description {
  font-size: 18px;
  line-height: 1.9;
  color: #3a3a3a;
  font-family: "Georgia", serif;
  text-align: justify;
}

/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {
  .equipment-section {
    flex-direction: column;
    padding: 40px 25px;
    text-align: center;
  }

  .equipment-left {
    order: 1;
  }

  .equipment-right {
    order: 2;
  }

  .equipment-title {
    font-size: 24px;
  }

  .equipment-description {
    font-size: 14px;
  }
}
