@media (max-width: 768px) {

  .manpower-section {
    flex-direction: column;
    padding: 40px 25px;
    text-align: center;
  }

  .manpower-left {
    order: 1;
    max-width: 100%;
  }

  .manpower-title {
    font-size: 18px;
  }

  .standard-paragraph {
    order: 2;
  }

  .manpower-right {
    order: 3;
    margin-top: 20px;
  }

  .manpower-btn {
    order: 4;
    width: 75%;
    text-align: center;
    margin: 20px auto 0;
  }
}

@media (max-width: 480px) {

  .manpower-title {
    font-size: 16px;
  }

  .standard-paragraph {
    font-size: 12px;
  }
}
